/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with GMI Mendel
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

process {
  executor = 'pbs'
  clusterOptions = { "-P $params.project " }
}

executor {
  $pbs {
    name = 'pbs'
    queueSize = 1000
  }
}

params {
  max_memory = 180.GB
  max_cpus = 12
  max_time = 24.h
}
